@charset "EUC-KR";

table {
	font-size: 8pt;
}

#main {
	height: 500px
}

/* ----------왼쪽영역 */
#left {
	width: 55%;
	height: 100%;
	float: left;
	padding: 20px;
	padding-right: 0px;
}

#home_img_penal {
	position: fixed;
	opacity: 0.6;
	width: 56px;
	z-index: 2;
	border-radius: 25px;
	text-align: center;
}

#camera {
	position: relative;
	width: 100%;
	height: 90%;
}

/* 사진 출력 이미지 */
#cloth_imgs {
	width: 100%
}

/* ------------오른쪽영역 */
#right {
	width: 45%;
	height: 100%;
	float: left;
	padding: 20px;
}

#input_tag {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
}

#my_content {
	height: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* 제목 */
#my_content>li:nth-of-type(1) {
	padding: 10px 0 10px 20px;
	height: 10%;
}

/* 게시글 */
#my_content>li:nth-of-type(2) {
	height: 50%;
	border: none;
	padding-top: 3%;
}

/* 좋아요 , 조회수 */
#my_content>li:nth-of-type(3) p {
	width: 40%;
	float: right;
	margin: 0px;
	padding-top: 5px;
}

#my_content>li:nth-of-type(3) p:nth-of-type(1) {
	width: 8%;
	float: left;
	color: red;
	padding-top: 0px;
}

/* 좋아요 조회수 등록날짜 */
#my_content>li:nth-child(n+3):nth-child(-n+4) {
	height: 10%;
	padding-top: 10px;
	width: 50%;
	float: left;
	font-size: 13px;
	border: none;
	border-bottom: 1px solid rgb(210, 210, 210);
}

/* 등록날짜 */
#my_content>li:nth-of-type(4) {
	text-align: right;
	line-height: 28px;
}

#update_date {
	padding-top: 5px;
}
/* 댓글 목록 */
#my_content>li:nth-of-type(5) {
	border: none;
	height: 15%;
}

/* 댓글 목록 ul태그 */
#my_content>li:nth-of-type(5) ul {
	padding: 0px !important;
}

/* 댓글 목록 li태그 */
#my_content>li:nth-of-type(5)>ul>li {
	padding: 0px !important;
}

/* 댓글 목록 p태그 */
#my_content>li:nth-of-type(5)>ul>li p:nth-of-type(n+1):nth-of-type(-n+2)
	{
	width: 50%;
	float: left;
}

#my_content>li:nth-of-type(6)>ul>li p:nth-of-type(2) {
	text-align: right;
}

/* 댓글창 입력 */
#my_content>li:nth-of-type(6) {
	float: left;
	border: none;
	height: 10%;
	padding: 0px;
	margin-top: 10px;
	width: 100%;
}
/* 댓글창 입력 */
#my_content>li:nth-of-type(5)>textarea {
	display: inline-block;
	position: relative;
	margin-right: 2%;
	width: 69%;
	border: none;
	height: 100%;
	padding: 10px;
	border-radius: 10px;
	color: #262626;
	color: rgba(var(- -i1d, 38, 38, 38), 1);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
/* 댓글창 입력 */
#my_content>li:nth-of-type(6)>input {
	display: inline-block;
	position: relative;
	top: -18px;
	right: 0px;
	width: 29%;
	border: none;
	height: 100%;
	margin: 0px;
	border-radius: 10px;
	background-color: rgb(150, 150, 150);
	font-size: 14px;
}

#line {
	float: left;
	border: none;
	height: 10%;
	padding: 0px;
	margin-top: 10px;
	width: 100%;
}

#line>textarea {
	width: 76%;
}

#line>input {
	margin: 0px;
	height: 54px;
	position: relative;
	top: -26px;
	border-radius: 10px;
	width: 20%;
	height: 54px;
	position: relative;
	top: -26px;
	border-radius: 10px;
}

#my_content>li {
	height: 16.6%;
	list-style: none;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid rgb(210, 210, 210);
	box-sizing: border-box;
	float: left;
	width: 100%;
	color: #262626;
	color: rgba(var(- -i1d, 38, 38, 38), 1);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

#comments {
	border: 1px solid;
	padding: 1%;
	width: 100%;
	height: 20%;
	resize: none;
}

.chat {
	display: inline-block;
	position: relative;
	margin-right: 2%;
	width: 69%;
	border: none;
	height: 100%;
	padding: 10px;
	border-radius: 10px;
	color: #262626;
	color: rgba(var(- -i1d, 38, 38, 38), 1);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.chat2 {
	display: inline-block;
	position: relative;
	top: -18px;
	right: 0px;
	width: 29%;
	border: none;
	height: 100%;
	margin: 0px;
	border-radius: 10px;
	background-color: rgb(150, 150, 150);
	font-size: 14px;
}