@charset "EUC-KR";

#home {
	font-weight: normal;
}

#left_page {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("images/back_img.jpg");
	background-repeat: repeat, no-repeat;
	background-size: 80% 85%;
	background-attachment: fixed;
	overflow-y: scroll;
}


#left_page_info{
	height: 95%;
	
}

#home_header{
	padding: 0px !important;
	height: 100%;	
}

h1 {
	font-family: "Gmarket Sans";
	font-weight: bold;
	color: #3f3f3f;
}



#home_header>p{
    padding: 5% 5% 0% 0%;
	font-weight : bold;
	color: #000000cc;
	text-align: right;
}





