#loginFrame_back {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
	align-items: flex-start;
}

#loginFrame_back::after {
	width: 100%;
	height: 100%;
	content: "";
	background: url("./images/bg.jpg");
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
}

#loginFrame {
	background-color : "yellow" ;
	width: 450px;
	height: 350px;
	margin: 0px;
	top: 150px;
	position: fixed;
}







h2 {
	font-size: 1em;
	position: relative;
	top : 0px;
	font-weight: bold ;
	font-family: "Gmarket Sans";
	
}

table {
	margin-left: 80px;
}

li {
	list-style: none;
}

.Login_input {
	width: 200px !important;
	height: 30px ;
	top : 100px;
}


loginFrame h2:nth-of-type(2) {
	position: relative;
	top: 500px;
}

#join-btn:nth-of-type(1){

	background-color: gray;
	font-weight: bold ;
	font-family: "Gmarket Sans";
}
#login-btn:nth-of-type(1){
	position:relative;
	left:15px;
	background-color: gray;
	font-weight: bold ;
	font-family: "Gmarket Sans";
	width : 110px;
}

#real-join:nth-of-type(1){
	position:relative;
	left:15px;
}



#login_ul li{
	padding-bottom : 1.5%;
}
#login_ul li:nth-last-of-type(1){
	padding-left : 10%;
}


