@charset "EUC-KR";

#img_box{
  background-color:white;
}



#cloth_header h2:nth-of-type(1){
	float: left;
	width: 50%;
	margin: 0px;
	padding: 20px 0px 0px 0px;
}

#cloth_header input:nth-of-type(1){
	float: right;
	margin: 0px;
}
#cloth_header p:nth-of-type(1){
	padding-top : 30px; 
}


.cloth_imgs{
	border-radius: 20px;
}