/* #cloth_main{
	background-color: white;
	width: 1000px;
	height: 600px;	
} */

/* 요소 전체 스타일 */
ul{
	height: 100%;
    margin: 0px;
    padding: 0px;
}

li{
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}





/* ==============여기는 오른쪽 화면 스타일 ==================== */
#right {
	overflow-y: scroll;
	width: 50%;
	height: 500px;
	float: left;
}

#right li{
	width: 100%;
}

#input_tag_div {
	position: relative;
	width: 91%;
	height: 115px;
	float: left;
}

#del {
	float: right;
	height: 50%;
	width: 30%;
}

li>textarea {
	resize: none;
	height: 228px;
}

ol>li>.cr_pick {
	margin: auto;
	width: 49%;
}

#clothespick {
	margin: auto;
	width: 49%;
	height: 59px;
}

/* 전송 버튼 */
#pic_img_bt{
position: absolute;
    display: block;
    right: 10%;
    top: 86%;
    width: 20%;
    height: 10%;
    font-size: 17px;
    font-family: "Gmarket Sans";
	font-weight: bold;
	border-radius: 15px;
	background-color: gray;
}

#img_upload{
	font-family: "Gmarket Sans";
	font-weight: bold;
	border-radius: 15px;
	background-color: gray;

}

#take_picture{
	font-family: "Gmarket Sans";
	font-weight: bold;
	border-radius: 15px;
	background-color: gray;

}

#back_btn{
	font-family: "Gmarket Sans";
	font-weight: bold;
	border-radius: 15px;
	background-color: gray;
	float: right;
    margin-top: 15px;
    margin-right: 37px;
    z-index: 1;
    margin-right: 0px;
}
#container_div{
	position: relative; 
	width: 320px;
	height: 320px; 
	top: 20px; 
	left: 20px; 
	background-color: #333; 
	padding: 10px; 
	box-sizing: border-box;
}











#container {
	width: 100%; 
	height: 100%; 
	overflow: hidden;
}
#videoElement {
    position: relative; 
    width: 135%; 
    height: 100%; 
    left: -50px; 
}









#left {
	width: 50%;
	height: 100%;
	float: left;
	padding: 30px 20px 30px 20px;
}

#pickcloth {
	position: relative;
	overflow: hidden;
}

#pick_div {
	position: relative;
	width: 100%;
	height: 360px;
	overflow: hidden;
	border-radius: 20px;
}

#cloth_imgs {
	width: 100%;
	
}

/* 사진 찍기, 사진 업로드 버튼 div */
#pickbutten{
	position : relative;
	width: 100%;
	height : 80px;
	margin: 0px;
	padding: 10px 0px;
	
}

#pickbutten li{
	padding:0px;
	width: 45%;
}
#pickbutten li:nth-of-type(3){
	width: 10%;
	height: 100%;
}

#pickbutten input{
	width: 100%;
	margin: 0px;
}
